In [7]:
import pandas as pd
import os
import numpy as np
import re

In [2]:
# get samples 
samples = pd.read_csv("../../config/samples.csv")["ID"]
samples

0               Adelpha_iphiclus
1     Anartia_jatrophae_saturata
2               Araschnia_levana
3                 Auzakia_danava
4                 Baeotus_beotus
5          Catacroptera_cloanthe
6                Chalinga_pratti
7       Diaethria_gabaza_eupepla
8            Doleschallia_melana
9                  Eurema_blanda
10           Hypolimnas_usambara
11               Junonia_villida
12             Kallima_paralekta
13             Kallimoides_rumia
14               Litinga_cottini
15              Mallika_jacksoni
16                Moduza_procris
17               Parasarpa_zayla
18            Phaedyma_columella
19                Precis_pelarga
20       Protogoniomorpha_temora
21                 Salamis_cacta
22             Smyrna_blomfildia
23                Tacola_larymna
24                   Yoma_algina
25         Tacola_larymna_subset
26            Yoma_algina_subset
Name: ID, dtype: object

In [3]:
seqkit_dir = "../../results/seqkit/"

# list to hold dataframes
list_seqkit = []
# iterate throught seqkit results files
for file in os.listdir(seqkit_dir):
    if file.endswith(".txt"):
        # use regex separator for variable whitespace with python engine
        df = pd.read_csv(os.path.join(seqkit_dir, file), sep=r"\s+")
        # append to list
        list_seqkit.append(df)
# concat list
dat_seqkit = pd.concat(list_seqkit, ignore_index=True)
# clean up dataframe
dat_seqkit.drop("format", axis=1, inplace=True)
dat_seqkit.drop("type", axis=1, inplace=True)
dat_seqkit["ID"] = dat_seqkit["file"].str.replace(".fasta", "", regex=False)
dat_seqkit.drop("file", axis=1, inplace=True)
dat_seqkit.rename(columns={"num_seqs": "N seqs", 
                           "sum_len": "Sum length", 
                           "min_len": "Min. length", 
                           "avg_len": "Avg. length", 
                           "max_len": "Max. length"}, inplace=True)
# join with sample names
dat_seqkit = pd.merge(samples, dat_seqkit, how="left", on="ID")
# add column to state if assembly present
dat_seqkit["Assembled sequence"] = dat_seqkit["N seqs"].apply(lambda x: "True" if x > 0 else "False")
dat_seqkit = dat_seqkit[["ID", "Assembled sequence", "N seqs", "Sum length", "Min. length", "Avg. length", "Max. length"]]
dat_seqkit

,ID,Assembled sequence,N seqs,Sum length,Min. length,Avg. length,Max. length
0,Adelpha_iphiclus,True,1.0,"15,263","15,263","15,263","15,263"
1,Anartia_jatrophae_saturata,True,1.0,"15,281","15,281","15,281","15,281"
2,Araschnia_levana,True,1.0,"15,207","15,207","15,207","15,207"
3,Auzakia_danava,True,3.0,"15,017","3,204","5,005.7","6,944"
4,Baeotus_beotus,True,1.0,"15,131","15,131","15,131","15,131"
5,Catacroptera_cloanthe,True,1.0,"13,058","13,058","13,058","13,058"
6,Chalinga_pratti,True,1.0,"15,244","15,244","15,244","15,244"
7,Diaethria_gabaza_eupepla,True,1.0,"15,156","15,156","15,156","15,156"
8,Doleschallia_melana,True,1.0,"15,379","15,379","15,379","15,379"
9,Eurema_blanda,True,1.0,"15,123","15,123","15,123","15,123"
10,Hypolimnas_usambara,True,1.0,"15,158","15,158","15,158","15,158"
11,Junonia_villida,True,4.0,"13,451","1,712","3,362.8","6,323"
12,Kallima_paralekta,True,1.0,"15,200","15,200","15,200","15,200"
13,Kallimoides_rumia,True,1.0,"15,234","15,234","15,234","15,234"
14,Litinga_cottini,True,1.0,"15,189","15,189","15,189","15,189"
15,Mallika_jacksoni,True,1.0,"15,193","15,193","15,193","15,193"
16,Moduza_procris,True,1.0,"15,195","15,195","15,195","15,195"
17,Parasarpa_zayla,True,1.0,"15,275","15,275","15,275","15,275"
18,Phaedyma_columella,True,1.0,"15,197","15,197","15,197","15,197"
19,Precis_pelarga,True,1.0,"15,224","15,224","15,224","15,224"
20,Protogoniomorpha_temora,True,1.0,"15,335","15,335","15,335","15,335"
21,Salamis_cacta,True,1.0,"15,218","15,218","15,218","15,218"
22,Smyrna_blomfildia,True,1.0,"15,149","15,149","15,149","15,149"
23,Tacola_larymna,True,1.0,"15,475","15,475","15,475","15,475"
24,Yoma_algina,True,1.0,"15,231","15,231","15,231","15,231"
25,Tacola_larymna_subset,False,NaN,NaN,NaN,NaN,NaN
26,Yoma_algina_subset,False,NaN,NaN,NaN,NaN,NaN

In [4]:
blobtools_dir = "../../results/blobtools/"

# list to hold dataframes
list_blobtools = []
# iterate throught blobtools results files
for directory in os.listdir(blobtools_dir):
    if os.path.isdir(os.path.join(blobtools_dir, directory)):
        for file in os.listdir(os.path.join(blobtools_dir, directory)):
            if file == "table.tsv":
                file_bt = pd.read_csv(os.path.join(blobtools_dir, directory, file), sep="\t")
                # find column ending with "_cov" and rename to "coverage"
                cov_cols = [col for col in file_bt.columns if col.endswith("_cov")]
                if cov_cols:
                    file_bt.rename(columns={cov_cols[0]: "coverage"}, inplace=True)
                # add sample ID from directory name
                file_bt['ID'] = directory
                file_bt.drop("index", axis=1, inplace=True)
                list_blobtools.append(file_bt)
# concat list
dat_blobtools = pd.concat(list_blobtools, ignore_index=True)
# clean up dataframe
dat_blobtools.rename(columns={
    "identifiers" : "Contig", 
    "length" : "Length",
    "coverage" : "Coverage",
    "gc" : "GC content",
    "bestsumorder_superkingdom" : "Superkingdom",
    "bestsumorder_kingdom" : "Kingdom",
    "bestsumorder_phylum" : "Phylum",
    "bestsumorder_class" : "Class",
    "bestsumorder_order" : "Order",
    "bestsumorder_family" : "Family",
    "bestsumorder_species" : "Species"
}, inplace=True)

# join with sample names
dat_blobtools = pd.merge(samples, dat_blobtools, how="left", on="ID")
# add column to state if assembly present
dat_blobtools["Assembled sequence"] = dat_blobtools["Contig"].apply(lambda x: "False" if pd.isna(x) else "True")

dat_blobtools = dat_blobtools[["ID", "Assembled sequence", "Contig", "Length", "Coverage", "GC content", "Superkingdom", "Kingdom", "Phylum", "Class", "Order", "Family", "Species"]]
dat_blobtools

,ID,Assembled sequence,Contig,Length,Coverage,GC content,Superkingdom,Kingdom,Phylum,Class,Order,Family,Species
0,Adelpha_iphiclus,True,Adelpha_iphiclus_circular,15263.0,17.0734,0.1946,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Adelpha iphiclus
1,Anartia_jatrophae_saturata,True,Anartia_jatrophae_saturata_contig0,15281.0,17.0647,0.1862,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Yoma algina
2,Araschnia_levana,True,Araschnia_levana_circular,15207.0,17.0016,0.1835,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Araschnia levana
3,Auzakia_danava,True,Auzakia_danava_contig0,6944.0,16.5379,0.2036,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Auzakia danava
4,Auzakia_danava,True,Auzakia_danava_contig1,4869.0,17.5841,0.1818,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Auzakia danava
5,Auzakia_danava,True,Auzakia_danava_contig2,3204.0,18.4320,0.1898,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Auzakia danava
6,Baeotus_beotus,True,Baeotus_beotus_circular,15131.0,17.0449,0.1954,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Baeotus beotus
7,Catacroptera_cloanthe,True,Catacroptera_cloanthe_contig0,13058.0,17.4831,0.2261,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Catacroptera cloanthe
8,Chalinga_pratti,True,Chalinga_pratti_contig0,15244.0,17.1300,0.1848,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Chalinga pratti
9,Diaethria_gabaza_eupepla,True,Diaethria_gabaza_eupepla_circular,15156.0,17.0368,0.1951,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Ariadne ariadne
10,Doleschallia_melana,True,Doleschallia_melana_contig0,15379.0,16.9878,0.1997,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Doleschallia melana
11,Eurema_blanda,True,Eurema_blanda_circular,15123.0,17.0998,0.1943,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Pieridae,Eurema blanda
12,Hypolimnas_usambara,True,Hypolimnas_usambara_contig0,15158.0,17.0581,0.2105,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Hypolimnas usambara
13,Junonia_villida,True,Junonia_villida_contig0,2160.0,17.3014,0.1727,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Junonia vestina
14,Junonia_villida,True,Junonia_villida_contig1,1712.0,17.2442,0.1828,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Junonia villida
15,Junonia_villida,True,Junonia_villida_contig2,6323.0,16.8507,0.2121,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Junonia villida
16,Junonia_villida,True,Junonia_villida_contig3,3256.0,19.0310,0.2006,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Junonia villida
17,Kallima_paralekta,True,Kallima_paralekta_circular,15200.0,17.0488,0.2047,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Kallima paralekta
18,Kallimoides_rumia,True,Kallimoides_rumia_circular,15234.0,17.1451,0.1910,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Kallimoides rumia
19,Litinga_cottini,True,Litinga_cottini_contig0,15189.0,16.9812,0.1970,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Limenitis cottini
20,Mallika_jacksoni,True,Mallika_jacksoni_circular,15193.0,16.9918,0.2061,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Mallika jacksoni
21,Moduza_procris,True,Moduza_procris_circular,15195.0,17.0083,0.1932,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Moduza procris
22,Parasarpa_zayla,True,Parasarpa_zayla_circular,15275.0,17.0816,0.1968,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Parasarpa zayla
23,Phaedyma_columella,True,Phaedyma_columella_circular,15197.0,17.0053,0.1969,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Phaedyma columella
24,Precis_pelarga,True,Precis_pelarga_circular,15224.0,16.9779,0.1992,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Precis pelarga
25,Protogoniomorpha_temora,True,Protogoniomorpha_temora_contig0,15335.0,17.0245,0.1933,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Protogoniomorpha temora
26,Salamis_cacta,True,Salamis_cacta_contig0,15218.0,16.9870,0.1927,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Salamis cacta
27,Smyrna_blomfildia,True,Smyrna_blomfildia_circular,15149.0,17.0302,0.2050,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Nymphalis urticae
28,Tacola_larymna,True,Tacola_larymna_contig0,15475.0,17.0210,0.2005,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Tacola larymna
29,Yoma_algina,True,Yoma_algina_circular,15231.0,17.1401,0.1870,no-hit,Metazoa,Arthropoda,Insecta,Lepidoptera,Nymphalidae,Yoma algina
30,Tacola_larymna_subset,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Yoma_algina_subset,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
annotations_dir = "../../results/annotations/"

list_bed = []

# iterate throught annotations results files
for file in os.listdir(annotations_dir): 
    if os.path.isdir(os.path.join(annotations_dir, file)):
        for (root,dirs,files) in os.walk(os.path.join(annotations_dir, file), topdown=True):
            for f in files: 
                if f == "result.bed":
                    dat_ann = pd.read_csv(os.path.join(root, f), sep="\t", header=None, names=["Contig", "Start", "End", "Name", "Score", "Strand"])
                    # add sample name to dataframe
                    dat_ann["ID"] = file
                    # append to list
                    list_bed.append(dat_ann)
# concat list
dat_bed = pd.concat(list_bed, ignore_index=True)

# remove annotations for tRNAs and origin of replication
dat_bed = dat_bed[~dat_bed["Name"].str.startswith(("trn", "OH", "OL"))]

# join with sample names
# dat_bed = pd.merge(samples, dat_bed, how="left", on="ID")

# add column to state if assembly present
#dat_bed["Assembled sequence"] = dat_bed["Contig"].apply(lambda x: "False" if pd.isna(x) else "True")

dat_bed

,Contig,Start,End,Name,Score,Strand,ID
0,Anartia_jatrophae_saturata_contig0,4,1502,nad5_0,237982419.4,-,Anartia_jatrophae_saturata
2,Anartia_jatrophae_saturata_contig0,1586,2922,nad4,214655501.8,-,Anartia_jatrophae_saturata
3,Anartia_jatrophae_saturata_contig0,2921,3206,nad4l,4178913.3,-,Anartia_jatrophae_saturata
6,Anartia_jatrophae_saturata_contig0,3369,3867,nad6,3279670.2,+,Anartia_jatrophae_saturata
7,Anartia_jatrophae_saturata_contig0,3895,5047,cob,323602426.3,+,Anartia_jatrophae_saturata
...,...,...,...,...,...,...,...
921,Catacroptera_cloanthe_contig0,8669,9347,atp6,35353613.3,-,Catacroptera_cloanthe
922,Catacroptera_cloanthe_contig0,9340,9502,atp8,65220.0,-,Catacroptera_cloanthe
925,Catacroptera_cloanthe_contig0,9603,10317,cox2,107385243.0,-,Catacroptera_cloanthe
927,Catacroptera_cloanthe_contig0,10379,11915,cox1,566136198.5,-,Catacroptera_cloanthe
931,Catacroptera_cloanthe_contig0,12111,13056,nad2,61252546.4,-,Catacroptera_cloanthe

In [76]:
# get gene counts per sample
gene_counts = dat_bed.groupby(["ID"])[["Name"]].count().reset_index()

# get the numer of "cox1" annotations per sample
cox1_counts = dat_bed.groupby(["ID"])["Name"].apply(lambda x: (x == "cox1").sum())

# combine gene counts and cox1 counts into a single dataframe
dat_annotations = pd.merge(gene_counts, cox1_counts, how="outer", on="ID").rename(columns={"Name_x": "N annotations", "Name_y": "N cox1"})
dat_annotations

                            ID  N annotations  N cox1
0             Adelpha_iphiclus             16       1
1   Anartia_jatrophae_saturata             17       1
2             Araschnia_levana             15       1
3               Auzakia_danava             18       1
4               Baeotus_beotus             15       1
5        Catacroptera_cloanthe             14       1
6              Chalinga_pratti             15       1
7     Diaethria_gabaza_eupepla             15       1
8          Doleschallia_melana             17       1
9                Eurema_blanda             15       1
10         Hypolimnas_usambara             18       1
11             Junonia_villida             15       1
12           Kallima_paralekta             16       1
13           Kallimoides_rumia             15       1
14             Litinga_cottini             17       1
15            Mallika_jacksoni             16       1
16              Moduza_procris             16       1
17             Parasarpa_zayla             16       1
18          Phaedyma_columella             16       1
19              Precis_pelarga             17       1
20     Protogoniomorpha_temora             16       1
21               Salamis_cacta             17       1
22           Smyrna_blomfildia             15       1
23              Tacola_larymna             15       1
24                 Yoma_algina             15       1

In [77]:
# input directory for annotated sequences
extract_alignments_dir = "../../results/mafft_filtered/"

# functions
def read_fasta(filename):
    name, seq = None,''
    fasta = open(filename, 'r')
    for line in fasta:
        if line.startswith('>') and name == None:
            name = line.rstrip('\n').replace('>','')
        else:
            if line.startswith('>') and name != None:
                yield [name, seq]
                name = line.rstrip('\n').replace('>','')
                seq = ''
            else:
                seq = seq + line.rstrip('\n')
    yield [name, seq]
    fasta.close()

def format_name(name):
    name = name.split(';')[0]
    name = re.sub(r"_contig\d*$|","", name)
    name = re.sub(r"_circular|","", name)
    return name

# create empty dictionary to hold gene (keys) and samples (values)
#dict_genes = {}
list_genes = []


# list files in input dir
for file in os.listdir(extract_alignments_dir):
    # files ending with ".fasta"
    if file.endswith("fasta"):
        # get gene from file name
        gene = file.replace(".fasta","")
        # read fasta
        fasta = read_fasta(os.path.join(extract_alignments_dir, file))
        #iterate through sequences in fasta
        for name, seq in fasta:
            contig, start_stop, strand, name = name.split(";")
            start, stop = start_stop.split("-")
            # get sample name from contig
            sample = format_name(contig)
            list_genes.append([sample, contig, start, stop, strand, gene])
            
            ## if long assembly name found, reformat to sample only
            #if re.search("contig", name) or re.search("circular", name):
            #    name = format_name(name)
            ## add gene and name to dictionary
            #if dict_genes.get(gene) == None:
            #    dict_genes[gene] = [name]
            #else:
            #    dict_genes[gene].append(name)

dat_genes = pd.DataFrame(list_genes, columns=["ID", "Contig", "Start", "End", "Strand", "Name"])
dat_genes["Present_mafft_filtered"] = "True"
#dat_genes["Start"] = dat_genes["Start"].astype(float)
#dat_genes["End"] = dat_genes["End"].astype(float)
#dat_genes.drop("Start", axis=1, inplace=True)
#dat_genes.drop("End", axis=1, inplace=True)
dat_genes
#dict_genes

# get dict_genes sorted by key
#dict_genes_keys = list(dict_genes.keys())
#dict_genes_keys.sort()
#dict_genes_sorted = {i: dict_genes[i] for i in dict_genes_keys}

#dict_genes_sorted

,ID,Contig,Start,End,Strand,Name,Present_mafft_filtered
0,Anartia_jatrophae_saturata,Anartia_jatrophae_saturata_contig0,3896,5047,+,cob,True
1,Chalinga_pratti,Chalinga_pratti_contig0,9205,10359,-,cob,True
2,Protogoniomorpha_temora,Protogoniomorpha_temora_contig0,8938,10089,-,cob,True
3,Parasarpa_zayla,Parasarpa_zayla_circular,9469,10617,-,cob,True
4,Junonia_villida,Junonia_villida_contig3,269,1420,+,cob,True
...,...,...,...,...,...,...,...
365,Precis_pelarga,Precis_pelarga_circular,4749,5426,+,atp6,True
366,Salamis_cacta,Salamis_cacta_contig0,2970,3647,-,atp6,True
367,Doleschallia_melana,Doleschallia_melana_contig0,9348,10025,+,atp6,True
368,Litinga_cottini,Litinga_cottini_contig0,9139,9816,+,atp6,True
369,Catacroptera_cloanthe,Catacroptera_cloanthe_contig0,8670,9347,-,atp6,True

In [78]:
dat_bed

,Contig,Start,End,Name,Score,Strand,ID
0,Anartia_jatrophae_saturata_contig0,4,1502,nad5_0,237982419.4,-,Anartia_jatrophae_saturata
2,Anartia_jatrophae_saturata_contig0,1586,2922,nad4,214655501.8,-,Anartia_jatrophae_saturata
3,Anartia_jatrophae_saturata_contig0,2921,3206,nad4l,4178913.3,-,Anartia_jatrophae_saturata
6,Anartia_jatrophae_saturata_contig0,3369,3867,nad6,3279670.2,+,Anartia_jatrophae_saturata
7,Anartia_jatrophae_saturata_contig0,3895,5047,cob,323602426.3,+,Anartia_jatrophae_saturata
...,...,...,...,...,...,...,...
921,Catacroptera_cloanthe_contig0,8669,9347,atp6,35353613.3,-,Catacroptera_cloanthe
922,Catacroptera_cloanthe_contig0,9340,9502,atp8,65220.0,-,Catacroptera_cloanthe
925,Catacroptera_cloanthe_contig0,9603,10317,cox2,107385243.0,-,Catacroptera_cloanthe
927,Catacroptera_cloanthe_contig0,10379,11915,cox1,566136198.5,-,Catacroptera_cloanthe
931,Catacroptera_cloanthe_contig0,12111,13056,nad2,61252546.4,-,Catacroptera_cloanthe

In [79]:
def gene_present_in_dat_genes(dat_genes, id, contig, name):
    x = dat_genes [
        (dat_genes["ID"] == id) &
        (dat_genes["Contig"] == contig) &
        (dat_genes["Name"] == name)
        ]
    if x.shape[0] > 0:
        return True
    return False

dat_bed["Present"] = dat_bed.apply(lambda row: gene_present_in_dat_genes(dat_genes, row["ID"], row["Contig"], row["Name"]), axis=1)

dat_bed

,Contig,Start,End,Name,Score,Strand,ID,Present
0,Anartia_jatrophae_saturata_contig0,4,1502,nad5_0,237982419.4,-,Anartia_jatrophae_saturata,False
2,Anartia_jatrophae_saturata_contig0,1586,2922,nad4,214655501.8,-,Anartia_jatrophae_saturata,True
3,Anartia_jatrophae_saturata_contig0,2921,3206,nad4l,4178913.3,-,Anartia_jatrophae_saturata,True
6,Anartia_jatrophae_saturata_contig0,3369,3867,nad6,3279670.2,+,Anartia_jatrophae_saturata,True
7,Anartia_jatrophae_saturata_contig0,3895,5047,cob,323602426.3,+,Anartia_jatrophae_saturata,True
...,...,...,...,...,...,...,...,...
921,Catacroptera_cloanthe_contig0,8669,9347,atp6,35353613.3,-,Catacroptera_cloanthe,True
922,Catacroptera_cloanthe_contig0,9340,9502,atp8,65220.0,-,Catacroptera_cloanthe,True
925,Catacroptera_cloanthe_contig0,9603,10317,cox2,107385243.0,-,Catacroptera_cloanthe,True
927,Catacroptera_cloanthe_contig0,10379,11915,cox1,566136198.5,-,Catacroptera_cloanthe,True
931,Catacroptera_cloanthe_contig0,12111,13056,nad2,61252546.4,-,Catacroptera_cloanthe,True

In [80]:
dat_bed [ dat_bed["Present"] == False ]

,Contig,Start,End,Name,Score,Strand,ID,Present
0,Anartia_jatrophae_saturata_contig0,4,1502,nad5_0,2.379824e+08,-,Anartia_jatrophae_saturata,False
11,Anartia_jatrophae_saturata_contig0,6123,6860,rrnL_0,0.000000e+00,-,Anartia_jatrophae_saturata,False
12,Anartia_jatrophae_saturata_contig0,7146,7248,rrnL_1,3.800000e-03,-,Anartia_jatrophae_saturata,False
38,Anartia_jatrophae_saturata_contig0,15083,15275,nad5_1,9.939820e+04,-,Anartia_jatrophae_saturata,False
76,Protogoniomorpha_temora_contig0,1,607,cox3_0,8.055191e+07,-,Protogoniomorpha_temora,False
113,Protogoniomorpha_temora_contig0,15057,15333,cox3_1,2.041177e+07,-,Protogoniomorpha_temora,False
132,Parasarpa_zayla_circular,7257,7359,rrnL_1,1.500000e-03,+,Parasarpa_zayla,False
133,Parasarpa_zayla_circular,7647,8392,rrnL_0,0.000000e+00,+,Parasarpa_zayla,False
156,Junonia_villida_contig0,1951,2140,nad6,8.062231e+05,+,Junonia_villida,False
157,Junonia_villida_contig3,74,236,nad6,1.759792e+05,+,Junonia_villida,False
212,Moduza_procris_circular,7845,7947,rrnL_1,6.200000e-03,+,Moduza_procris,False
213,Moduza_procris_circular,8233,8973,rrnL_0,0.000000e+00,+,Moduza_procris,False
338,Mallika_jacksoni_circular,2516,2618,rrnL_1,3.800000e-03,+,Mallika_jacksoni,False
339,Mallika_jacksoni_circular,2918,3647,rrnL_0,0.000000e+00,+,Mallika_jacksoni,False
407,Hypolimnas_usambara_contig0,382,431,rrnS_1,7.200000e-08,+,Hypolimnas_usambara,False
408,Hypolimnas_usambara_contig0,551,576,rrnS_2,8.300000e-07,+,Hypolimnas_usambara,False
409,Hypolimnas_usambara_contig0,598,1002,rrnS_0,3.500000e-32,+,Hypolimnas_usambara,False
411,Hypolimnas_usambara_contig0,1297,1399,rrnL_1,2.100000e-03,+,Hypolimnas_usambara,False
412,Hypolimnas_usambara_contig0,1680,2430,rrnL_0,0.000000e+00,+,Hypolimnas_usambara,False
484,Auzakia_danava_contig0,65,90,rrnS_1,3.800000e-07,-,Auzakia_danava,False
485,Auzakia_danava_contig0,209,258,rrnS_0,1.700000e-08,-,Auzakia_danava,False
504,Auzakia_danava_contig2,0,63,rrnS,1.500000e-11,+,Auzakia_danava,False
506,Auzakia_danava_contig2,350,452,rrnL,1.700000e-03,+,Auzakia_danava,False
512,Auzakia_danava_contig1,1,442,cob,5.168863e+07,-,Auzakia_danava,False
534,Adelpha_iphiclus_circular,4261,4363,rrnL_1,1.300000e-03,+,Adelpha_iphiclus,False
535,Adelpha_iphiclus_circular,4646,5380,rrnL_0,0.000000e+00,+,Adelpha_iphiclus,False
622,Phaedyma_columella_circular,8284,8386,rrnL_1,9.500000e-03,+,Phaedyma_columella,False
623,Phaedyma_columella_circular,8669,9427,rrnL_0,0.000000e+00,+,Phaedyma_columella,False
657,Kallima_paralekta_circular,7622,7724,rrnL_1,3.500000e-03,+,Kallima_paralekta,False
658,Kallima_paralekta_circular,8035,8771,rrnL_0,0.000000e+00,+,Kallima_paralekta,False
745,Precis_pelarga_circular,55,80,rrnS_2,8.300000e-07,-,Precis_pelarga,False
746,Precis_pelarga_circular,201,250,rrnS_1,3.700000e-08,-,Precis_pelarga,False
783,Precis_pelarga_circular,14846,15224,rrnS_0,1.700000e-36,-,Precis_pelarga,False
784,Salamis_cacta_contig0,2,1211,nad5_0,1.538068e+08,+,Salamis_cacta,False
810,Salamis_cacta_contig0,9038,9140,rrnL_1,8.500000e-03,+,Salamis_cacta,False
811,Salamis_cacta_contig0,9430,10168,rrnL_0,0.000000e+00,+,Salamis_cacta,False
821,Salamis_cacta_contig0,14840,15218,nad5_1,1.031879e+07,+,Salamis_cacta,False
822,Doleschallia_melana_contig0,22,475,nad6_0,2.856118e+06,+,Doleschallia_melana,False
827,Doleschallia_melana_contig0,2716,3445,rrnL_0,0.000000e+00,-,Doleschallia_melana,False
828,Doleschallia_melana_contig0,3736,3838,rrnL_1,3.800000e-03,-,Doleschallia_melana,False
860,Doleschallia_melana_contig0,15255,15378,nad6_1,9.410250e+04,+,Doleschallia_melana,False
861,Litinga_cottini_contig0,2,341,nad6-b,5.210666e+05,+,Litinga_cottini,False
866,Litinga_cottini_contig0,2558,3289,rrnL-b,0.000000e+00,-,Litinga_cottini,False
867,Litinga_cottini_contig0,3587,3689,rrnL-a,1.600000e-04,-,Litinga_cottini,False
899,Litinga_cottini_contig0,15027,15189,nad6-a,1.520142e+05,+,Litinga_cottini,False

In [82]:
# get gene counts per sample
dat_genes.groupby(["ID"])[["Name"]].count().reset_index()

                            ID  Name
0             Adelpha_iphiclus    15
1   Anartia_jatrophae_saturata    15
2             Araschnia_levana    15
3               Auzakia_danava    13
4               Baeotus_beotus    15
5        Catacroptera_cloanthe    14
6              Chalinga_pratti    15
7     Diaethria_gabaza_eupepla    15
8          Doleschallia_melana    15
9                Eurema_blanda    15
10         Hypolimnas_usambara    15
11             Junonia_villida    13
12           Kallima_paralekta    15
13           Kallimoides_rumia    15
14             Litinga_cottini    15
15            Mallika_jacksoni    15
16              Moduza_procris    15
17             Parasarpa_zayla    15
18          Phaedyma_columella    15
19              Precis_pelarga    15
20     Protogoniomorpha_temora    15
21               Salamis_cacta    15
22           Smyrna_blomfildia    15
23              Tacola_larymna    15
24                 Yoma_algina    15